In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv("d612874c2dbb.csv")
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 608.0 bytes

In [4]:
df.isnull().sum()

YearsExperience    0
Salary             0
dtype: int64

In [5]:
df.columns

Index(['YearsExperience', 'Salary'], dtype='object')

In [6]:
F12=['YearsExperience']
x=df[F12]
x

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [7]:
y=df['Salary']
y

0      39343.0
1      46205.0
2      37731.0
3      43525.0
4      39891.0
5      56642.0
6      60150.0
7      54445.0
8      64445.0
9      57189.0
10     63218.0
11     55794.0
12     56957.0
13     57081.0
14     61111.0
15     67938.0
16     66029.0
17     83088.0
18     81363.0
19     93940.0
20     91738.0
21     98273.0
22    101302.0
23    113812.0
24    109431.0
25    105582.0
26    116969.0
27    112635.0
28    122391.0
29    121872.0
Name: Salary, dtype: float64

In [12]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.4,random_state=4,shuffle=True)

In [24]:

training_score = []
testing_score = []

def m(model):
    model.fit(x_train,y_train)
    x_train_pred = model.predict(x_train)
    x_test_pred = model.predict(x_test)
    a = r2_score(y_train , x_train_pred)*100
    b = r2_score(y_test , x_test_pred)*100
    training_score.append(a)
    testing_score.append(b)
    
    print(f"sc of {model} m  = {a}")
    print(f"sc of {model} m  = {b}")

In [25]:
from sklearn.linear_model import LinearRegression
m(LinearRegression())

sc of LinearRegression() m  = 95.66879241655742
sc of LinearRegression() m  = 95.27448917621999

In [28]:
from sklearn.tree import DecisionTreeRegressor
m(DecisionTreeRegressor())

sc of DecisionTreeRegressor() m  = 99.59162289149175
sc of DecisionTreeRegressor() m  = 93.0517256702449

In [34]:
from sklearn.ensemble import RandomForestRegressor
m(RandomForestRegressor())

sc of RandomForestRegressor() m  = 98.53702286546141
sc of RandomForestRegressor() m  = 90.62146554642112